.seccion{
	background-color:rgba(0, 0, 0, 0.6);
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	width: 95%;
	height: 450px;
	margin-left: 30px;
	border: 2px solid #393434;
}
body{
	background-image: url("../../img/01.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Verdana';
	font-size:smaller ;
}
label{
	font-weight: bold ;
	color: #ffff ;
}
.btn{
	text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #308152;
    border-radius: 15px;
    border: 4px solid #308152;
}
.btn:hover{
	border: 4px solid #997424;
    background-color: #997424;
}
.inputText{
	text-align: center;
	text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #308152;
    background-color: #FFFFFF;
    border-radius: 15px;
    border: 2px solid #ffff;
}
.radio{
    transform: scale(1.5);
    cursor:pointer;
    display:inline-block;
    width:19px;
    height:19px;
}
header{
	border: 2px solid #393434;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	color: #FFFFFF;
	margin-top: 25px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	width: 95%;
	margin-left: 30px;
	background-color: #393434;
}
#articleUno{
	font-size: 16px;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 80px;
	width: 60% ;
	height: auto;
	display: inline-block;
	text-align: center;
}
aside{
	color: #163A69;
	font-size: 16px;
	padding-right: 20px;
	margin-top: 20px;
	margin-bottom: 30px;
	background-color: #9CC5A9;
	width: 30%;
	height: auto;
	display: inline-block;
	text-align: center;
	box-shadow: 0px 0px 22px 15px #1A1A1A;
}
footer{
	width: 95%;
	margin-left: 30px;
	text-align: center;
	border: 2px solid #393434;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #393434;
	color: #FFFFFF;
}