body{
	background-image: url("../../img/01.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Verdana';
	font-size:smaller ;
}
label{
	font-weight: bold ;
	color: #ffff ;
}
.btn{
	text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    background-color: #308152;
    border-radius: 15px;
    border: 4px solid #308152;
}
.btn:hover{
	border: 4px solid #997424;
    background-color: #997424;
}
.inputText{
	text-align: center;
	text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #308152;
    background-color: #FFFFFF;
    border-radius: 15px;
    border: 2px solid #ffff;
}
.select-css {
	font-size: 16px;
	text-align: center;
	font-weight: 600;
	color: #308152;
	padding: .4em 1.4em .3em .8em;
	width: 270px;
	border: 1px solid #aaa;
	border-radius: .9em;
	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: url('../../img/Down-01-512.png');
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .99em auto, 100%;
}
header{
	border: 2px solid #393434;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	color: #FFFFFF;
	margin-top: 25px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
	width: 95%;
	margin-left: 30px;
	background-color: #393434;
}
#articleUno{
	font-size: 16px;
	margin-left: 110px;
	margin-right: 10px;
	padding-top: 55px;
	width: 50% ;
	height: auto;
	text-align: center;
	float: left;
}
#articleDos{
	font-size: 16px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	width: 30% ;
	height: 350px;
	background-color: #9CC5A9;
	text-align: left;
}
#articleTres{
	font-size: 16px;
	float: left;
	padding-bottom: 20px;
	margin-top: 30px;
	margin-left: 30px;
	width: 95% ;
	height: auto;
	background-color: #9CC5A9;
	text-align: center;
}
#articleDos h3{
	text-align: center;
}
footer{
	width: 95%;
	margin-left: 30px;
	text-align: center;
	border: 2px solid #393434;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #393434;
	color: #FFFFFF;
}
.seccion{
	background-color:rgba(0, 0, 0, 0.6);
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 95%;
	height: 700px;
	margin-left: 30px;
	border: 2px solid #393434;
}
hr{
	width: 76%;
	color: #308152;
}
span{
	text-align: left;
}